
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var manufacturer in Model)
        {
            <tr>
                <td>@manufacturer.ManufacturerId</td>
                <td>@manufacturer.ManufacturerName</td>
            </tr>
        }
    </tbody>
</table>
